// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    padding: 0;
    margin: 0;
    }
    
        
    
    body {
        font-family: 'Text Me One', sans-serif;
        }
    
    header {
        background-color: #3a3a3a;
        height: 80px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header a {
        color: white; 
        text-decoration: none; 
    }
    
    header h1 {
        color: white;
        margin-left: 20px;
    }
    
    .header-list {
        display: flex;
        align-items: center;
    }
        
        header ul {
            display: flex;
        }
        
        header li {
            list-style: none;
            margin-right: 40px;
        }
    
    .header-nav {
        position: fixed;
        height: 0px;
        width: 100%;
      
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
      
      nav {
        margin-right: 5%;
      }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    header a:hover {
        color: rgb(196, 196, 196);
        
    }

.search_index{
        font-family:"Yu Gothic Medium", sans-serif;
    }

    .seprofile{
        background-color:rgba(58,58,58,0.6)
}
    


    .semylikemusic{
        font-family: 'Text Me One', sans-serif;
    }

.seuserprofile{
    display: flex;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.seicon{

    margin-left: 0px;
}

.userinformation{
    flex-direction: row;
}

