// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
padding: 0;
margin: 0;
}

    

body {
    font-family:'Text Me One',sans-serif;
    color:white
    }

header {
    background-color: #3a3a3a;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white; 
    text-decoration: none; 
}

header h1 {
    color: white;
    margin-left: 20px;
}

.header-list {
    display: flex;
    align-items: center;
}

    
    header ul {
        display: flex;
    }
    
    header li {
        list-style: none;
        margin-right: 40px;
    }

.header-nav {
    position: fixed;
    height: 0px;
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav {
    margin-right: 5%;
  }

a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: rgb(196, 196, 196);
    
}

.sample {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
}

.sample li {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-animation: anime 40s linear 7s infinite ;
    animation: anime 40s linear 7s infinite ;
}


.sample li:nth-child(1) { 
    background-image: url(no.jpg) 
}

.sample li:nth-child(2) {
    background-image: url(hurt.jpg);
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    background-size:cover;
    
}

.sample li:nth-child(3) {
    background-image: url(boy.jpg);
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    background-size:cover;
}
.sample li:nth-child(4) {
    background-image: url(no2.jpg);
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes anime { 
    0% {
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.2);
            -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}
@keyframes anime { 
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        transform: scale(1.1);
        opacity: 1;
    }
    40% {
        transform: scale(1.2);
            animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}

.topmessage{
    font-family:"Yu Gothic Medium";
    position:relative;
    text-align: center;
    top: 100px;
}
.topmessage h1{
    font-weight: 1000;
}
.topmessage ul {
    position:relative;
    text-align: center;
    top: 0px;
    display: flex;
}

.topmessage li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.topmessage a{
    position: relative;
    z-index: 1;
    padding: 0 10px;
  }

.topmessage a::before {
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .7s;
    z-index: -1;
  }

.topmessage a:hover {
    color: black
}

.topmessage a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .border{
	position: relative;
	text-align: center;
	font-size: 40px;
    font-weight: 1000;
    
}

.border:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px #ffffff;
	transform: translateX(-50%);
	animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 35%;
	}
}

.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 6s;}

.flowing {
    position: fixed;
    top: 250px;
    left: 400px;
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    animation: flowing-anim 5s;
    
    
  }
  
  @keyframes flowing-anim {
   0%{
       width: 0%;
     }
  100%{
       width: 100%;
     }
  }

  .repeat-fadein-out{
    
    animation-name: smooth-fadein-out;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes smooth-fadein-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
